<?xml version="1.0"?>
<FanControlConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <UniqueId>my_hack</UniqueId>
  <NotebookModel>SVF1421C5E</NotebookModel>
  <ReadRegister>92</ReadRegister>
  <WriteRegister>94</WriteRegister>
  <MinSpeedValue>0</MinSpeedValue>
  <MaxSpeedValue>255</MaxSpeedValue>
  <FanSpeedResetValue>0</FanSpeedResetValue>
  <ReadWriteWords>false</ReadWriteWords>
  <EcPollInterval>3000</EcPollInterval>
  <AdjustFanControlMode>false</AdjustFanControlMode>
  <EcConfigurationRegister>147</EcConfigurationRegister>
  <ManualControlModeValue>20</ManualControlModeValue>
  <AutoControlModeValue>4</AutoControlModeValue>
  <FakeTemperature>false</FakeTemperature>
  <TemperatureRegister>0</TemperatureRegister>
  <ThermalZoneRegister>0</ThermalZoneRegister>
  <FakeTemperatureValue>0</FakeTemperatureValue>
  <TemperatureResetValue>0</TemperatureResetValue>
  <ThermalZonesIndices>
    <int>1</int>
  </ThermalZonesIndices>
  <RegisterWriteRequests />
  <TemperatureThresholds>
    <TemperatureThreshold>
      <UpThreshold>51</UpThreshold>
      <DownThreshold>0</DownThreshold>
      <FanSpeed>12.598425196850393</FanSpeed>
    </TemperatureThreshold>
    <TemperatureThreshold>
      <UpThreshold>55</UpThreshold>
      <DownThreshold>50</DownThreshold>
      <FanSpeed>12.992125984251967</FanSpeed>
    </TemperatureThreshold>
    <TemperatureThreshold>
      <UpThreshold>65</UpThreshold>
      <DownThreshold>56</DownThreshold>
      <FanSpeed>15.354330708661418</FanSpeed>
    </TemperatureThreshold>
    <TemperatureThreshold>
      <UpThreshold>75</UpThreshold>
      <DownThreshold>65</DownThreshold>
      <FanSpeed>101</FanSpeed>
    </TemperatureThreshold>
  </TemperatureThresholds>
</FanControlConfig>